certificates/
packages/
target/
.vs/
.vscode/
docs/build/
deployment/Environments/Local/environmentsettings.json
deployment/Environments/Local/license.xml
*.user

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

*.suo
*.user

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user